<h1>Transportadora FastFeet</h1>
<h2>Aviso de cancelamento de encomenda</h2>
<br />
<strong>Olá, {{ deliverer }}</strong>
<p>A seguinte encomenda foi cancelada</p>
<p>
  <h3>Endereço:</h3>
  <strong>Destinatário:</strong> {{ name }}<br />
  <strong>Logradouro:</strong> {{ street }} - {{ number }}<br />
  <strong>Cidade:</strong> {{ city }}<br />
  <strong>Estado:</strong> {{ state }}<br />
  <strong>CEP:</strong> {{ zipcode }}<br />
</p>
