<h1>Transportadora FastFeet</h1>
<h2>Aviso de nova encomenda</h2>
<br />
<strong>Olá, {{ deliverer }}</strong>
<p>Uma nova entrega foi cadastrada para você, retire entre 08:00h e 18:00h.</p>
<p>
  <h3>Endereço:</h3>
  <strong>Destinatário:</strong> {{ name }}<br />
  <strong>Logradouro:</strong> {{ street }} - {{ number }}<br />
  <strong>Cidade:</strong> {{ city }}<br />
  <strong>Estado:</strong> {{ state }}<br />
  <strong>CEP:</strong> {{ zipcode }}<br />
</p>
